{% extends 'pages/base.html' %}

{% block content %}

<main class='main-content'>

    <div class='section'>
        <div class='container'>
            
            
            
            <div class='text-center mt-8'>
                <h2>{{post.title}}</h2>
                <p>{{post.date|date}} | {{post.categories.all.0}}</p>
            </div>

            {% if post.thumbnail %}
            <div class='text-center mt-8'>
                <img src='{{post.thumbnail.url}}' alt='featured-image' class='rounded-md'>
            </div>
            {% else %}
            <div class='text-center mt-8'>
                <img src='{{post.image.url}}' alt='featured-image' class='rounded-md'>
            </div>
            {% endif%}

            <div class='post-content row mt-5'>
                <div class='col-lg-8 mx-auto'>

                    <div>
                        {{post.overview|safe}}
                    </div>

                    <hr class='w-100px'

                    <div>
                        {{post.content|safe}}
                    </div>
                </div>
            </div>

            <div class='gap-2 text-center mt-6'>
                {% for cat in post.categories.all %}
                <a href='#' class='badge rounded-pill bg-secondary text-decoration-none'>{{cat}}</a>
                {% endfor %}
            </div>

        </div>

    </div>    

</main>

{% endblock content %}