{% extends 'pages/base.html' %}

{% block content %}

<main class='main-content'>

    <div class='section'>
        <div class='container'>
            
            
            
            <div class='text-center mt-8'>
                <h2>The title of the post</h2>
                <p>July 18, 2020 | Category</p>
            </div>

            <div class='text-center mt-8'>
                <img src='https://cdn.pixabay.com/photo/2014/12/10/20/48/laboratory-563423_960_720.jpg' alt='featured-image' class='rounded-md'>
            </div>

            <div class='post-content row mt-5'>
                <div class='col-lg-8 mx-auto'>

                    <h1 class='font-weight-bold'>Heading number one</h1>

                    <h2 class='font-size-20'><b>Overwiev of the post.</b></h2>
                    <p class='lead'>
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <hr class='w-10px'>
                    <h2 class='font-size-20'><b>Content of the post.</b></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <hr class='w-10px'>
                </div>
            </div>

            <div class='gap-2 text-center mt-6'>
                <a href='#' class='badge rounded-pill bg-secondary text-decoration-none'>Fitness</a>
                <a href='#' class='badge rounded-pill bg-secondary text-decoration-none'>Health</a>
                <a href='#' class='badge rounded-pill bg-secondary text-decoration-none'>Diet</a>
                <a href='#' class='badge rounded-pill bg-secondary text-decoration-none'>Doctors</a>
            </div>

        </div>

    </div>    

</main>

{% endblock content %}